.content-container {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 58px 15px;
    padding: 15px 30px;

    input {
    	padding: 8px 10px;
        border-radius: 4px;
        border: solid 2px #d2dbe2;
        height: 50px;
        box-sizing: border-box;
        width: 100%;
    }
}

